.Header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content : space-evenly;
    height: 5%;
    width: 100%;
    margin: 0;

}

.Logo{
    height: 100px;
}

.buttonLogo{
    cursor: pointer;
    padding: 0 ;
    margin: 0 ;
    border: 0 ;
    height : fit-content;
    width : fit-content;
    background-color: transparent;
    transition: 0.5s;

}

.buttonLogo:hover{
    scale : 1.1;
}

.buttonLogo:active{
    scale: 0.9;
}

.inputSearch{
    height: 30px;
    width: 340px;
    border-radius: 10px;
    border: 1px ;
    box-shadow: 0 0 5px #323232;
    transition: 0.4s;
}
.inputSearch:focus, .inputSearch:hover{
    outline: none;
    scale: 1.5 ;
    transition: 1ss;
}

.button{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px #323232;
    border: 1px ;
    background-color: white;
    transition: 0.4s ;
  
  }
  
.button:hover{
    background-color: #323232;
    color: white;
    transform: scale(1.5);
    box-shadow: 0 0 0 #323232;
}

.button:active{
    scale: 0.9;
}



@media (max-width: 800px) {
    .Header{
        height: 70px;
    }

    .Logo{
        height: 60px;
    }

    .inputSearch{
        height: 20px;
        width: 150px;
    }
    .inputSearch:focus, .inputSearch:hover{
        height: 30px;
        width: 200px;
    }
}
