#root {
  height: 100vh;
  width: 100vw;
  padding: 5px;
  box-sizing: border-box;

}

body{
  margin: 0;
}


.button{
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 5px #323232;
  border: 1px ;
  background-color: white;
  transition: 0.4s ;

}

.button:hover{
  background-color: #323232;
  color: white;
  transform: scale(1.5);
  box-shadow: 0 0 0 #323232;
}

.button:active{
  scale: 0.9;
}